
PLCReadWrite/.vs/PLCReadWrite/config/applicationhost.config
PLCReadWrite/.vs/PLCReadWrite/v16/.suo
PLCReadWrite/.vs/PLCReadWrite/v17/.suo
PLCReadWrite/packages/EasyModbusTCP.5.6.0/.signature.p7s
PLCReadWrite/packages/EasyModbusTCP.5.6.0/EasyModbusTCP.5.6.0.nupkg
PLCReadWrite/packages/EasyModbusTCP.5.6.0/lib/net40/EasyModbus.dll
PLCReadWrite/packages/EasyModbusTCP.5.6.0/lib/net40/EasyModbus.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/.signature.p7s
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/LICENSE.md
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
PLCReadWrite/packages/Newtonsoft.Json.13.0.1/packageIcon.png
PLCReadWrite/PLCReadWrite.sln
PLCReadWrite/PLCReadWrite/app.config
PLCReadWrite/PLCReadWrite/bin/Debug/Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/0240123Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/0266739Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/0907035Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/1221290Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/1246243Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/1453869Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/1539335Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/2192672Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/2261798Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/2875859Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/3611341Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/4175679Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/4315519Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/4668469Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/4672769Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/7036581Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/7071486Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/7312916Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/7319242Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/8075583Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/8137177Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/8351502Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/8735078Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/9238857Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/9412763Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/9544007Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/Data/Config.json
PLCReadWrite/PLCReadWrite/bin/Debug/EasyModbus.dll
PLCReadWrite/PLCReadWrite/bin/Debug/EasyModbus.xml
PLCReadWrite/PLCReadWrite/bin/Debug/Newtonsoft.Json.dll
PLCReadWrite/PLCReadWrite/bin/Debug/Newtonsoft.Json.xml
PLCReadWrite/PLCReadWrite/bin/Debug/PLCReadWrite.exe
PLCReadWrite/PLCReadWrite/bin/Debug/PLCReadWrite.exe.config
PLCReadWrite/PLCReadWrite/bin/Debug/PLCReadWrite.pdb
PLCReadWrite/PLCReadWrite/bin/readwrite.rar
PLCReadWrite/PLCReadWrite/ConfigForm.cs
PLCReadWrite/PLCReadWrite/ConfigForm.Designer.cs
PLCReadWrite/PLCReadWrite/ConfigForm.resx
PLCReadWrite/PLCReadWrite/Core/PlcReadWrite.cs
PLCReadWrite/PLCReadWrite/Data/Config.json
PLCReadWrite/PLCReadWrite/Models/requestModel.cs
PLCReadWrite/PLCReadWrite/Models/responseModel.cs
PLCReadWrite/PLCReadWrite/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
PLCReadWrite/PLCReadWrite/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PLCReadWrite/PLCReadWrite/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PLCReadWrite/PLCReadWrite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.ConfigForm.resources
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.AssemblyReference.cache
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.CopyComplete
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.CoreCompileInputs.cache
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.FileListAbsolute.txt
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.GenerateResource.cache
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.csproj.SuggestedBindingRedirects.cache
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.exe
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.pdb
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.Properties.Resources.resources
PLCReadWrite/PLCReadWrite/obj/Debug/PLCReadWrite.ReadWriteForm.resources
PLCReadWrite/PLCReadWrite/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
PLCReadWrite/PLCReadWrite/packages.config
PLCReadWrite/PLCReadWrite/PLCReadWrite.csproj
PLCReadWrite/PLCReadWrite/Program.cs
PLCReadWrite/PLCReadWrite/Properties/AssemblyInfo.cs
PLCReadWrite/PLCReadWrite/Properties/Resources.Designer.cs
PLCReadWrite/PLCReadWrite/Properties/Resources.resx
PLCReadWrite/PLCReadWrite/Properties/Settings.Designer.cs
PLCReadWrite/PLCReadWrite/Properties/Settings.settings
PLCReadWrite/PLCReadWrite/ReadWriteForm.cs
PLCReadWrite/PLCReadWrite/ReadWriteForm.Designer.cs
PLCReadWrite/PLCReadWrite/ReadWriteForm.resx
